<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Your <%= resource_name.to_s.humanize %></h2>

    </div>

    <div class="container">


        <form class="needs-validation" novalidate="">
          <div class="row g-3">
            <div class="col-sm-6">
              <%= f.label :first_name, class: "form-label" %>
              <%= f.text_field :first_name, class: "form-control" %>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <%= f.label :last_name, class: "form-label" %>
              <%= f.text_field :last_name, class: "form-control" %>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12 pb-2">
              <%= f.label :email, class: "form-label" %>
              <%= f.text_field :email, class: "form-control", placeholder: "you@example.com" %>
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

          <div class="col-12">

            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "(leave blank if you don't want to change it)" %>
          </div>
          <div class="col-12 pb-2">
            <%= f.label :password_confirmation, class: "form-label" %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
          <div class="col-12 border-top pt-3">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
          </div>
          <%= f.submit "Update", class: "w-100 btn btn-primary btn-lg" %>
          <%= button_to "Cancel my account", registration_path(resource_name), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: "w-100 btn btn-danger btn-lg"%>

        </form>
  <%= render "devise/shared/error_messages", resource: resource %>
    </div>
  </main>
</div>

<% end %>
