<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">

        <li class="nav-item"><a href="/" class="nav-link <%= 'active' if current_page?(root_path) %>" aria-current="page">Home</a></li>

        <% if account_signed_in? %>
          <% if current_account.admin? %>
          <li class="nav-item">
            <%= link_to admin_panel_path, class: "text-decoration-none text-body" do %>
            <span class="nav-link <%= 'active' if current_page?(admin_panel_path) %>">Admin Panel</span>
            <% end %>
          </li>
          <% else %>
        <li class="nav-item">
          <%= link_to properties_path, class: "text-decoration-none text-body" do %>
          <span class="nav-link <%= 'active' if current_page?(properties_path) %>">My Properties</span>
          <% end %>
        </li>
        <% end %>
        <% end %>
        <li class="nav-item">
          <%= link_to sell_path, class: "text-decoration-none text-body" do %>
          <span class="nav-link <%= 'active' if current_page?(sell_path) %>">Selling</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to rent_path, class: "text-decoration-none text-body" do %>
          <span class="nav-link <%= 'active me-2' if current_page?(rent_path) %>">Rent</span>
          <% end %>
        </li>
        <% if account_signed_in? %>
        <li class="nav-item">
          <%= button_to "Log out", destroy_account_session_path, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: "btn btn-outline-danger me-2" %>
        </li>
        <% else %>
        <!-- <li class="nav-item"><span class="nav-link">Are you seller? Then: </span></li> -->
        <li class="nav-item">
          <%= link_to "Login", new_account_session_path, class: "btn btn-outline-primary me-2" %>
        </li>
        <li>
            <%= link_to "Sign-up", new_account_registration_path, class: "btn btn-outline-primary me-2" %>
        </li>

        <% end %>


      </ul>
    </header>
  </div>
