<!DOCTYPE html>
<html>
  <head>
    <title>Estate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>

  <body id="<%= controller.controller_name %>" class="<%= controller.action_name %> d-flex flex-column min-vh-100">
    <% if @show_sidebar.nil? %>
      <header>
          <%= render "layouts/nav/public" %>
          <%= yield %>
      </header>
          <% else %>
            <%= render "layouts/nav/public" %>
        <div class="container-fluid">
          <div class="row">
            <%= render "layouts/nav/sidebar" %>
              <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <%= yield %>
              </main>
          </div>
        </div>
      <% end %>
      <div id="notifications"><%= flash_notifications %></div>
    <footer class="mt-auto">
      <%= render "layouts/footer" %>
    </footer>

  </body>
</html>
